.parent-container{
    align-content: center;

    h1{
        color: white;
    }

    width: 20em;
    height: 15em;
    background-color: rgb(101, 101, 199);

    ion-button{
        margin-left: 20px;
    }
}