<ion-header>
  <ion-toolbar>
    <ion-title>chocolate-task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-CBar">
    <h1>Distribute the chocolate bar</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>was passiert ?</ion-card-subtitle>
        <ion-card-title>Beispiel</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Beispiel: Schokoriegel mit Stückchen der größe 1x1 sollen verteilt werden
        Ein 5x1 langer Schokoriegel muss 4mal geteilt werden ein 3x1 nur 2mal.
      </ion-card-content>
    </ion-card>
    <br>
    <ion-input type="number" [(ngModel)]="columns" (ngModelChange)="getBreaks(columns, squares)">die Länge des Riegels: </ion-input> 
    <p>Der Riegel wird {{breaks}}mal geteilt</p>
  </div>


</ion-content>
